body{
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(235,236,12);background: linear-gradient(45deg, rgba(235,236,12,1) 0%, rgba(225,229,23,1) 20%, rgba(0,74,255,1) 50%, rgba(33,255,25,1) 86%);
} 
.result {
    width: 500px;
    height: 200px;
    margin-top: 15px;
    background-color: #92DCE5;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 100px;
}
.container {
    width: 600px;
    height: 800px;
    background-color: lightslategray;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    opacity: 1;
}
.buttons{
    width: 500px;
    height: 570px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;

}
.first-rows{
    flex: 4 1 0;
    display: flex;
    flex-wrap: wrap;
}
.last-row{
    display: flex;
    width: 500px;
}
#zero{
    flex: 1;
}
button{
    padding: 0;
    margin: 0;
    width: 125px;
    height: 114px;
    font-size: 20px;
    border: 1px solid black;
    box-sizing: border-box;
}
button:hover{
    
}
#del {
    background-color: #D64933;
    color: white;
}
#equals{
    background-color: #92DCE5;
}
.num{
    background-color: #2B303A;
    color: #EEE5E9;
}
.operator{
    background-color: #7C7C7C;
}